<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About TRiM</h2>
                    <h3 class="section-subheading text-muted">How it works, and the evidence.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>What is TRiM?</h4>
                                    <!--<h4 class="subheading">A Short Subtitle</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">TRiM is a proactive, peer delivered, cognitively based human resource management initiative for supporting individuals following exposure to traumatic events.  Its purpose is the early identification of the symptoms of stress. TRiM is not a treatment for stress however processing and talking about the event has therapeutic advantage.
 
</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Why TRiM?</h4>
                                    <!--<h4 class="subheading">More subheading</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Looking after your staff after traumatic incidents is both morally justified and, after work-related traumatic incidents, legally necessary. Additionally, it makes sound economic sense to avoid the loss of valuable personnel to the effects of psychological trauma. There is ample evidence that people exposed to work related stress are likely to be less effective at work, more likely to be absent from work and to suffer poor mental health. For instance, a 2007 report noted that impaired work efficiency, as a result of mental disorders, costs the UK £15.1 billion a year, with mental-health-related absenteeism costing an additional £8.4 billion annually.
</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Evidence</h4>
                                    <!--<h4 class="subheading">A Piece of Evidence</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">TRiM complies with National Institute for Clinical Excellence (NICE) <a href="https://www.nice.org.uk/guidance/cg26">Guideline 26</a> “The management of PTSD in adults and children in primary and secondary care” and aims to foster high levels of organisational resilience.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Development of TRiM</h4>
                                    <!-- <h4 class="subheading">More subheading</h4>  -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">TRiM began within the UK’s Royal Marines Commandos.  However, many other non-military organisations now use TRiM including the Foreign and Commonwealth Office; media organisations including the BBC and the emergency services including the London Ambulance Service and numerous UK police forces; and private organisations. 
 
                                    TRiM has been successfully employed by various organisations after a number of incidents, including September 11th 2001, the Bali Bombings, the London Bombings as well as numerous more ‘routine’ traumatic incidents, such as vehicle accidents and assaults. 

</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Our TRiM Services</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Due to the expertise of our team, and our ongoing work in diverse range of environments, we integrate the very latest complimentary research and evidence based strategies into our TRiM Training Provision.

                                        As such, we have been commissioned to develop and deliver bespoke TRiM Training for a variety of sectors including medicine, the emergency services, law, social services and sport.  Our courses are always developed to integrate appropriate certification and the awarding of Continuous Professional Development (CPD) points. For example, our Medical TRiM Training (MedTRiM) has been awarded 6 Cat 1 CPD Points by the Royal Colleges of Physicians.  Other TRiM certifcation comes from Pearson Work Based learning and Staffordshire University (School of Health Sciences)
                                        </p>
                                </div>
                            </div>
                        </li> 
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Benefits of TRiM</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                The TRiM model is based on keeping employees functioning after traumatic events, by providing support and education to those who require it. Additionally, TRiM aims to identify those who are not coping after potentially traumatising events and it is designed to ensure that they are signposted to professional sources of help. In essence, TRiM aims to empower organisations to discharge their duty of care whilst promoting a pro-active and resilient stance to the psychological effects of potentially traumatic events. 
                                 
                                Organisations which have adopted the TRiM system report that it is a useful tool not only for helping to discharge an organisation’s duty of care, but TRiM may also help to change organisational culture and beliefs towards stress in general. By giving personnel the skills to recognise distress in others and the knowledge to help such people in practical and commonsense ways, TRiM may act as a catalyst, propelling organisations to adopt a more ‘stress-competent’ attitude to personnel management.
                                </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <a class="page-scroll" href="#events"><div class="timeline-image">
                                <h4>Sign up 
                                    <br>For next
                                    <br>Event!</h4>
                            </div></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>